@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --border: 35 25% 94%;
    --background: 35 35% 98%;
    --foreground: 24 18% 15%;
    --card: 35 25% 96%;
    --card-foreground: 24 18% 15%;
    --muted: 30 18% 88%;
    --muted-foreground: 24 10% 40%;
    --primary: 25 60% 35%;
    --primary-foreground: 35 40% 98%;
  }

  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}
